div.css-1r6slb0 {
    background-color: #EEEEEE;
    border: 2px solid #CCCCCC;
    padding: 5% 5% 5% 10%;
    border-radius: 5px;
}
div.element-container.css-1njb9nc.e1tzin5v3{
    font-size: 10px;
    margin: 0px;

}
div.css-1r6slb0.e1tzin5v2{

    border: 2px solid #CCCCCC;
    padding: 5% 5% 5% 5%;
    border-radius: 5px;
}
[theme]
base="light"
primaryColor="#4682b4"
backgroundColor="#e0ffff"
secondaryBackgroundColor="#7fffd4"

